# Prerequisites
*.d

# C++ Compiled & Intermediate Files
*.com
*.class
*.dll
*.exe
*.o
*.so
*.lib
*.a
*.pdb
*.exp

# CMake and Build Artifacts
build/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/

# IDE Configuration Files
.vscode/
.vs/
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters

# Simulation Outputs (Dynamic CSV/JSON data)
*.csv
*.png
live_state.json

# Python & Virtual Environments
__pycache__/
*.py[cod]
*$py.class
.venv/
env/